<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/images/favicon.png" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSobre.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <title>Sobre Nós</title>
</head>

<body>
    <nav class="menumobile">
        <!-- hamburguer -->
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
         </label>

        <h2 class="logo">Martchello <span> Pizzaria </span></h2>
        <button id="btnsair" onclick="logout()">Sair</button>
            <ul>
                <button id="buttoncadastro" type="button"><a href="login">Cadastre-se</a></button>
                <li><a id="navbarDropdown" data-toggle="dropdown"  style="color: red;"></a></li>
                <li><a id="ajustee" href="Sobre">Sobre Nós</a></li>       
            </ul>
            <div class="menu-openner"><span>0</span>🛒</div>
    </nav>
    <nav class="menudesk">
       
            <h2 style="padding-top: 0.9%;" class="logo">Martchello <span> Pizzaria </span></h2>
            <button type="button"><a href="/">Home</a></button>
         
                <ul>
                  <li><a  style="color:red;" href="Sobre">Sobre Nós</a></li>
                </ul>
      
  
    </nav>

    <section class="fundosb">

<div class="firstAnimation">
    
    <div class="secondAnimation">
        <div class="cardsb">
            <h2>Historia da pizzaria</h2>
           <P>  Um grupo de seis amigos estudantes de tecnologia, sendo um deles de família italiana (Guilherme) com o sobrenome Marchello, que além de possuírem forte influencia da cultura em relação a fazer pizzas, não esqueceram e nem abandonaram os seus costumes, decidiram investir e seguir em frente com isso, após realizarem um projeto de criar uma marca e um site de vendas na faculdade.<br>
                Com a ajuda da família para fazer pizzas únicas no sabor, e do conhecimento em tecnologia dos seus outros amigos, ambos começaram a divulgar fortemente suas ideias com panfletos, e, além disso, criando um site para a pizzaria, que possui um chatbot para o público realizar o pedido da pizza no mesmo.
            Utilizando a própria casa da família e um quarto de bagunças ao lado que foi limpo e reformado com a ajuda de todos, o grupo transformou ali na própria Pizzaria Marchello existindo até hoje o lugar original, além das varias pela região.
            
        </P>
        </div>
    </div>
</div>

</section>

<h1 class="txtPt">Time de desenvolvimento</h1>
<section class="corpo">

    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                             <img src="/static/images/joana.jpg" alt="joana">
                        </div>
                        <div class="details">
                            <div class="name">Joana D'arc</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="/static/images/Guilherme.jpg" alt="Guilherme">
                        </div>
                        <div class="details">
                            <div class="name">Guilherme da Rocha Salvador</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="/static/images/Danilo.jpg" alt="Danilo">
                        </div>
                        <div class="details">
                            <div class="name">Danillo Macário da Silva</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="/static/images/Lucas.jpg" alt="Lucas">
                        </div>
                        <div class="details">
                            <div class="name">Lucas Stoico Quirino</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="/static/images/Ricardo.jpg" alt="Ricardo">
                        </div>
                        <div class="details">
                            <div class="name">Ricardo Anderson</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="/static/images/Rian.jpg" alt="Rian">-
                        </div>
                        <div class="details">
                            <div class="name">Rian dos Santos</div>
                            <div class="job">Web Devloper</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
    </div>
</section>
</section>
</body>
<script>
    $SCRIPT_ROOT = {{ request.script_root | tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pizzas.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://kit.fontawesome.com/e32382d952.js" crossorigin="anonymous"></script>
<script>
    
</script>
</body>

</html>