<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/images/favicon.png" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSobre.css') }}">
    <link href="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
        rel="stylesheet" />

    <title>Sobre Nós</title>
</head>

<body>
    <nav>
        <!-- hamburguer -->
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
         </label>

        <ul>
            <li><a href="pedidoRestaurante">Pedidos-Restaurante</a></li>
            <li><a href="PedidoCliente">Andamento do pedido</a></li>
            <li><a style="color:red;">Sobre Nós</a></li>
        </ul>
    </nav>

    <section class="fundosb">

<div class="firstAnimation">
    
    <div class="secondAnimation">
        <div class="cardsb">
            <h2>Historia da pizzaria</h2>
           <P>Um grupo de seis amigos estudantes de tecnologia, sendo um deles de família italiana (Guilherme) com o sobrenome Marchello, que além de possuírem forte influencia da cultura em relação a fazer pizzas, não esqueceram e nem abandonaram os seus costumes, decidiram investir e seguir em frente com isso, após realizarem um projeto de criar uma marca e um site de vendas na faculdade.<br>
            Com a ajuda da família para fazer pizzas únicas no sabor, e do conhecimento em tecnologia dos seus outros amigos, ambos começaram a divulgar fortemente suas ideias com panfletos, e, além disso, criando um site para a pizzaria, que possui um chatbot para o público realizar o pedido da pizza no mesmo.
            Utilizando a própria casa da família e um quarto de bagunças ao lado que foi limpo e reformado com a ajuda de todos, o grupo transformou ali na própria Pizzaria Marchello existindo até hoje o lugar original, além das varias pela região.
            
        </P>
        </div>
    </div>
</div>
</section>

<h1 class="txtPt">Time de desenvolvimento</h1>
<section class="corpo">

    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <!--- <img src="images/profile1.jpg" alt="">--->
                        </div>
                        <div class="details">
                            <div class="name">Joana D'arc</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <!--- <img src="images/profile2.jpg" alt="">--->
                        </div>
                        <div class="details">
                            <div class="name">Guilherme da Rocha Salvador</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <!-- <img src="images/profile3.jpg" alt="">---->
                        </div>
                        <div class="details">
                            <div class="name">Danillo Macário da Silva</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <!---<img src="images/profile4.jpg" alt="">--->
                        </div>
                        <div class="details">
                            <div class="name">Lucas Stoico Quirino</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <!--<img src="images/profile5.jpg" alt="">---->
                        </div>
                        <div class="details">
                            <div class="name">Ricardo Anderson</div>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <!--<img src="images/profile6.jpeg" alt="">--->
                        </div>
                        <div class="details">
                            <div class="name">Rian dos Santos</div>
                            <div class="job">Web Devloper</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
    </div>
</section>
</body>

<script>
    $SCRIPT_ROOT = {{ request.script_root | tojson }};
</script>

<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pizzas.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://kit.fontawesome.com/e32382d952.js" crossorigin="anonymous"></script>
<script src="./scripts.js"></script>
<script src="./login.js"></script>
</body>

</html>